# 🔐 Seguridad
DJANGO_SECRET_KEY=
DEBUG=
ALLOWED_HOSTS=

# 🗄️ Base de datos
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# 📜 Logs
DJANGO_LOG_FILE=

# 🌐 Frontend / API
VITE_API_URL=

# 🧪 Token de desarrollo (solo DevLogin, opcional)
VITE_DEV_TOKEN=
